body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container {
  height: 70px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  background-color: #ffffff;
}

.reddit-logo {
  height: 60px;
  margin-left: 1em;
}

.reddit-word {
  font-family: "vag-rounded-regular", sans-serif;
  font-size: 50px;
  color: #1c1c1c;
  padding-left: 2em;
}

.reddit-i {
  color: #ff4500;
}

.reddit-name {
  font-family: "vag-rounded-regular", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fffdfd;
  border: 2px black solid;
  background-color: black;
  border-radius: 30px;
  padding: 0.4em;
}

.logo-span {
  background-color: #e12128;
}

.apd-logo {
  margin: 0;
  display: block;
  margin: 0 auto;
  height: 5em;
  width: em;
}

.h1-container {
  padding-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "poppins";
  font-weight: 200;
  color: #ffffff;
  background-color: #e12128;
  font-size: 32px;
  text-align: center;
  width: 100%;
  margin: 0;
  height: 50px;
}

.nav-bar-container {
  width: 100%;
  background-color: #e12128;
  justify-content: space-evenly;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

.nav-bar-items {
  font-family: "poppins";
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

.main-body {
  width: 80%;
  margin: 2em auto;
}

.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.box-items {
  border: 1px #cccccc solid;
  background-color: #ffffff;
  width: 34em;
  height: 22em;
  text-align: center;
  margin-bottom: 1%;
  max-width: 95%;
}

.box-images {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.my-images {
  width: 50%;
}
