body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Header */

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.header-container-one {
  height: 70px;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  background-color: #ffffff;
}

.header-container-two {
  background-color: #ffffff;
  width: 5%;
  height: 70px;
}

.header-container-three {
  background-color: #ffffff;
  width: 5%;
  height: 70px;
}

.apd-logo {
  height: 70px;
  margin-left: 1em;
}

.reddit-word {
  font-family: "vag-rounded-regular", sans-serif;
  font-size: 50px;
  color: #1c1c1c;
  padding-left: 2em;
}

.reddit-i {
  color: #ff4500;
}

.reddit-name {
  font-family: "vag-rounded-regular", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fffdfd;
  border: 2px black solid;
  background-color: black;
  border-radius: 30px;
  padding: 0.4em;
  cursor: pointer;
}

.weather-image {
  width: 80%;
  margin-top: 0.5em;
}

.temperature {
  margin: 0;
  font-size: 12.5px;
  margin-top: 1em;
}

.weather-description {
  font-size: 12.5px;
  margin: 0;
}

/*h1*/

.h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

h1 {
  font-family: "poppins";
  font-weight: 200;
  color: #ffffff;
  background-color: #e12128;
  font-size: 32px;
  text-align: center;
  width: 100%;
  margin: 0;
  height: 50px;
  padding-top: 1%;
}

/*Nav bar*/

.nav-bar-container {
  width: 100%;
  background-color: #e12128;
  justify-content: space-evenly;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 30em;
  flex-direction: row;
}

.nav-bar-items {
  font-family: "poppins";
  font-weight: 700;
  margin: 0 10px 16px 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* Main*/

.main-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 2em auto;
}

.container-one {
  width: 70%;
  margin-right: 40px;
}

.container-two {
  width: 30%;
}

.box-container {
  width: 100%;
  border: 1px #cccccc solid;
  background-color: #ffffff;
  width: 95%;
  margin-bottom: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.box-items {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 4px;
}

.box-items:target::before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0 0;
}

.link {
  text-decoration: none;
  color: #e54046;
  font-size: 13px;
  text-align: left;
}

.link:hover {
  text-decoration: underline;
}

.when-posted {
  font-size: 12px;
}

.box-titles {
  margin-bottom: 10px;
  margin-top: 25px;
  font-weight: 600;
}

.box-images {
  width: 99%;
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
  margin-top: 1em;
}

.box-container-one {
  width: 10%;
}

.box-container-two {
  width: 90%;
}

.like-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

.like-button:hover {
  cursor: pointer;
}

.dislike-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

.dislike-button:hover {
  cursor: pointer;
}

.like-button-img {
  width: 30px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 0;
}

.like-button-img:hover {
  width: 35px;
  height: 35px;
  border: 1px #e12128 solid;
  border-radius: 90px;
  display: block;
  margin-left: 10px;
}

.like-count {
  text-align: left;
  margin-left: 23.5px;
  margin-top: 5px;
}

.dislike-button-img {
  width: 30px;
  margin-left: 15px;
  margin-bottom: 0;
}

.dislike-button-img:hover {
  width: 35px;
  height: 35px;
  border: 1px #648dab solid;
  border-radius: 90px;
  display: block;
  margin-left: 10px;
}

.right-box-items {
  border: 1px #cccccc solid;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.my-images {
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-descriptions {
  text-align: justify;
  text-align: center;
  font-size: 13px;
}

/*Footer*/

.footer {
  text-align: center;
  background-color: #e12128;
  font-size: 18px;
  position: relative;
}

.footer.footer-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

/*Media Queries*/
@media (max-width: 960px) {
  .container-two {
    display: none;
  }
  .container-one {
    width: 100%;
    margin: 0;
  }
  .header-container-one {
    width: 100%;
  }
  .header-container-two,
  .header-container-three {
    display: none;
  }
}

@media (max-width: 740px) {
  .main-container {
    width: 95%;
  }
  .box-container {
    width: 100%;
  }
  .header-container-one {
    justify-content: space-around;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
  }
  .reddit-name {
    font-size: 90%;
  }
  .reddit-word {
    font-size: 35px;
  }
  .reddit-logo {
    height: 50px;
  }
}
